h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  background-color: #cd5c5c;
}
table{
  border-color: #cd5c5c;
}
#brand{
  color: black;
}
#text{
  color: aliceblue;
}
.breadcrumb {
  background-color: #cd5c5c;
  
  
  color: aqua;
}
a {
  color: aqua;
}
li {
  color: aqua;
}
#logo {
  color: aliceblue;
  font-family: system-ui;
}
#logo6 {
  color: aliceblue;
  font-family: system-ui;
  font-size: 12px;
}
hr{
  border-color: aliceblue;
}
#logo2 {
  color: aliceblue;
  font-family: MS UI Gothic;
}
#header {
  position: absolute;
  left: 100px;
  width: 100%;
  top: 20px;
}
#section1 {
  position: absolute;
  left: 100px;
  top: 200px;
}
#section2 {
  position: absolute;
  left: 100px;
  top: 900px;
}
#menu {
  position: absolute;
  width: 80%;
  left: 100px;
  top: 50px;
}
#footer {
  position: absolute;
  width: 80%;
  left: 100px;
  top: 2000px;
}
.form-group {
  left: 170px;
  width: 400px;
  position: absolute;
  height: 30px;
  top:0px;
}
.user{
  color: black;
}
.form-group2 {
  position: absolute;
  left: 600px;
  height: 30px;
}
.lop{
  position: absolute;
  left: 540px;
  top:6px;
}
.form-group3 {
  background-color: aliceblue;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 780px;
}
.form-group5 {
  color: aliceblue;
  position: absolute;
  left: 820px;
  top: 0px;
  font-size: 12px;
}
.form-group6 {
  color: aliceblue;
  position: absolute;
  left: 820px;
  top: 11px;
  font-size: 12px;
}


